@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:ital,wght@0,700;1,200;1,400;1,600&family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");
@import url("https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-primary: "Roboto", serif;
    --font-secundary: "Mulish", serif;
    --font-action: "Lobster", serif;
}

body {
    background: #faf6ed;
    width: 100%;
    height: 100vh;
}

header {
    background: #373b44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373b44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373b44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    font-size: 3.5rem;
    padding-left: 15px;
    color: rgb(76, 235, 76);
}

.logo h1 {
    font-family: var(--font-action), sans-serif;
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.8);
}

.menu {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    font-size: 1.5rem;
    font-family: var(--font-primary), sans-serif;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    background-color: #4286f4;
    transition: all 0.5s;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.container-principal {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
}

.titulo-h1 {
    font-family: var(--font-secundary), sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    padding-top: 6px;
}

.titulo-h2 {
    font-family: var(--font-primary), sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.img-cofre {
    width: 55%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cofre img {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao {
    width: 45%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.titulo-h3 {
    font-family: var(--font-primary), sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem;
}

.paragrafo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.btn {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: var(--font-secundary);
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    color: #eee;
    height: 1rem;
    width: 100%;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 1.5rem 1.8rem 1rem;
    border: none;
    cursor: pointer;
}


/* ----- Calcular ------ */

.container2 {
    padding-top: 20px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-left {
    width: 45%;
    padding: 20px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sessao-right {
    width: 45%;
    padding: 20px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* ------ Footer -----*/

footer {
    background: #373b44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373b44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373b44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list a:hover {
    background-color: #4286f4;
    transition: all 0.5s;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.social-list ul {
    display: flex;
}


/* ----- Media Queries  -------*/

@media (max-width: 990px) {
    .container {
        display: flex;
    }
    .img-cofre {
        padding: 10px;
        width: 300px;
    }
    .img-planilha img {
        width: 100%;
        align-items: center;
    }
    .sessao {
        width: 40%;
    }
    .titulo-h1 {
        font-size: 1.8rem;
    }
    .titulo-h2 {
        font-size: 1.5rem;
    }
    .titulo-h3 {
        font-size: 1.2rem;
    }
    .paragrafo p {
        font-size: 1rem;
    }
}

@media (max-width: 790px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .img-cofre {
        padding: 10px;
        width: 300px;
        margin: 0 auto;
    }
    .img-planilha img {
        width: 100%;
        align-items: center;
    }
    .sessao {
        width: 100%;
        margin: 0 auto;
        padding: 1%;
    }
    .titulo-h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    .titulo-h2 {
        font-size: 1.5rem;
    }
    .titulo-h3 {
        font-size: 2rem;
    }
    .paragrafo p {
        font-size: 2rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 3rem;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .footer-content p {
        font-size: 0.9rem;
        padding-bottom: 10px;
    }
    .social-list a {
        font-size: 1rem;
        text-align: center;
    }
    .social-list ul {
        display: flex;
    }
}

@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }
    .sessao-left,
    .sessao-right {
        width: 80%;
    }
    .img-cofre {
        width: 100%;
        margin: 0 auto;
    }
    .btn-principal {
        width: 80%;
    }
    .img-cofre img {
        width: 90%;
    }
    .img-planilha img {
        width: 100%;
        margin: 0 auto;
    }
    .sessao {
        margin: 0 auto;
        padding: 1%;
    }
    .titulo-h1 {
        font-size: 1.3rem;
        text-align: center;
    }
    .titulo-h2 {
        font-size: 1rem;
    }
    .titulo-h3 {
        font-size: 1rem;
    }
    .paragrafo p {
        font-size: 1rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 3rem;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
}